.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: flex-end;
}

.group>button {
  background-color: #BA87FC;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.7em;
  font-size: medium;
  width: 200px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  user-select: none;
}

.group>button:hover {
  transform: scale(1.07);
}

.container {
  background-color: #1d1d1d;
  padding: 1em;
  padding-bottom: 2em;
  border-radius: 10px;
  position: relative;
  max-width: 500px;
}

.container>p {
  font-size: larger;
}

.container>span {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: smaller;
}
